@model string

@{
    var canvasID = "test-chart-canvas";
}

<div class="chart-container" style="position:relative; height:40vh; width:60vw; margin-left:auto; margin-right:auto">
    <canvas id="@(Html.Raw(canvasID))"></canvas>
</div>

<script defer src="~/js/index.js" data-canvas_id="@Html.Raw(canvasID)"></script>