@model DirectKeyDashboard.Charting.Domain.CustomGroupedBarChart

@using DirectKeyDashboard.Views.Charting
@using DirectKeyDashboard.Charting.Domain

@{
    ViewData["Title"] = "Custom Grouped Bar Chart View";
}

<div class="text-center">
    
    <div id="dynamic-chart-container" style="display: flex; flex-direction: column; width: 100%; align-items: center;">
        @{
            switch (Model.SummaryMethod) {
                case SummaryMethod.Count:
                    switch (Model.ProjectionResult) {
                        case ProjectionResult.String:
                            switch (Model.CriterionType) {
                                case CriterionType.Float:
                                default:
                                    @await Component.InvokeAsync(typeof(StringCountApiGroupedBarChartViewComponent), new {
                                        summary = new CountSummary<string>(),
                                        filter = new Filter<FloatCriterion>(Model.FloatCriteria.Select(fc => new FloatCriterion(fc.Key, fc.Value, fc.Relation)).ToList()),
                                        timeInterval = new TimeInterval(Model.IntervalStart, Model.IntervalEnd, null),
                                        projection = new SimpleCompositeGroupedProjection<string>(Model.SuperDatasetCategoryTokenKey, Model.ValueTokenKeys),
                                        drilldownAction = "StringCountApiLineChart",
                                        drilldownController = "Charting",
                                        pivot = Model.Pivot
                                    })
                                    break;
                            }
                            break;
                        case ProjectionResult.Number:
                        default:
                            switch (Model.CriterionType) {
                                case CriterionType.Float:
                                default:
                                    @await Component.InvokeAsync(typeof(FloatCountApiGroupedBarChartViewComponent), new {
                                        summary = new CountSummary<float>(),
                                        filter = new Filter<FloatCriterion>(Model.FloatCriteria.Select(fc => new FloatCriterion(fc.Key, fc.Value, fc.Relation)).ToList()),
                                        timeInterval = new TimeInterval(Model.IntervalStart, Model.IntervalEnd, null),
                                        projection = new SimpleCompositeGroupedProjection<float>(Model.SuperDatasetCategoryTokenKey, Model.ValueTokenKeys),
                                        drilldownAction = "FloatProjectingApiLineChart",
                                        drilldownController = "Charting",
                                        pivot = Model.Pivot
                                    })
                                    break;
                            }
                            break;
                    }
                    break;
                case SummaryMethod.Average:
                default:
                    switch (Model.ProjectionResult) {
                        case ProjectionResult.Number:
                            switch (Model.CriterionType) {
                                case CriterionType.Float:
                                default:
                                    @await Component.InvokeAsync(typeof(FloatAverageApiGroupedBarChartViewComponent), new {
                                        summary = new AverageSummary(),
                                        filter = new Filter<FloatCriterion>(Model.FloatCriteria?.Select(fc => new FloatCriterion(fc.Key, fc.Value, fc.Relation)).ToList() ?? new List<FloatCriterion>()),
                                        timeInterval = new TimeInterval(Model.IntervalStart, Model.IntervalEnd, null),
                                        projection = new SimpleCompositeGroupedProjection<float>(Model.SuperDatasetCategoryTokenKey, Model.ValueTokenKeys),
                                        drilldownAction = "FloatProjectingApiLineChart",
                                        drilldownController = "Charting",
                                        pivot = Model.Pivot
                                    })
                                    break;
                            }
                            break;
                        default:
                            throw new Exception("Cannot compute average over non-numerical values");
                    }
                    break;
            }
        }
    </div>
</div>