@model IndexModel

@using DirectKeyDashboard.Views.Charting
@using DirectKeyDashboard.Charting.Domain
@using System.Globalization

@{
    ViewData["Title"] = "Charting Page";
}

<div class="text-center">
    @{
        foreach (var customBarChart in Model.CustomBarCharts) {
            var url = Url.Action("CustomBarChartView", "Charting", new { id = customBarChart.Id });
            <a href="@Html.Raw(url)">@customBarChart.Title</a>
        }

        foreach (var customGroupedBarChart in Model.CustomGroupedBarCharts) {
            var url = Url.Action("CustomGroupedBarChartView", "Charting", new { id = customGroupedBarChart.Id });
            <a href="@Html.Raw(url)">@customGroupedBarChart.Title</a>
        }
    }
</div>