@using DirectKeyDashboard.Views.Charting
@using DirectKeyDashboard.Charting.Domain
@using System.Globalization
@using Newtonsoft.Json.Linq

@* This is one of a few basic charts
   used strictly to present that the requirements
   in the requirements document were met,
   and to show off the charting features *@
   
@{
    ViewData["Title"] = "Charting Page";
}

<div class="text-center">
    <div style="display: flex; flex-direction: column; width: 100%; align-items: center;">

        <h3>Operation Instances</h3>
        
        <h4>Proportion of Operation Types Instantiated</h4>
        @await Component.InvokeAsync(typeof(OperationProportionsViewComponent))

        <h4 style="margin-top: 20px">Counts of Operation Types Instantiated</h4>
        @await Component.InvokeAsync(typeof(NonProjectingApiBarChartViewComponent), new {
            summary = new CountSummary<JObject>(),
            filter = new Filter<Criterion>(new List<ProjectionCriterion<string, SimpleProjection<string>>>()),
            timeInterval = new TimeInterval(DateTime.ParseExact("2019-06-01", "yyyy-MM-dd", CultureInfo.InvariantCulture), DateTime.ParseExact("2019-06-30", "yyyy-MM-dd", CultureInfo.InvariantCulture), null),
            categorizer = new PropertyValueCategorizer("OperationDescription"),
            drilldownController = "Charting",
            drilldownAction = "StringCountApiLineChart"
        })
        
    </div>
</div>